{% extends 'layout.html' %}

{% block content %}
  <div class="container mt-5">
    <h2 class="fw-bold">Harvard Business Review</h2>
    <h5 class="mb-5">{{ description }}</h5>

    {% for item in items %}
    <div>
      <div class="card w-75 mb-3">
        <a class="card-body text-decoration-none" href="{{ item.link['href'] }}">
          <h5 class="card-title">{{ item.title.string }}</h5>
          <small class="time">{{ item.published.string }}</small>
          <div class="card-text mt-3">
            {{ item.summary.string | safe }}
            <span class="text-primary">... Read more</span>
          </div>
        </a>
      </div>
    </div>
    {% endfor %}

  </div>
{% endblock %}