{% extends 'layout.html' %}

{% block content %}
  <div class="container">
    <h3 class="mt-3">News feed</h3>
    <ul>
      <li><a href="{{ url_for('feed', rss_feed='entrepreneur') }}">Entrepreneur</a></li>
      <li><a href="{{ url_for('feed', rss_feed='hbr') }}">Harvard Business Review</a></li>
      <li><a href="{{ url_for('feed', rss_feed='yahoo') }}">Yahoo Finance</a></li>
      <li><a href="{{ url_for('feed', rss_feed='tech-church') }}">TechChurch</a></li>
      <li><a href="{{ url_for('feed', rss_feed='venture-beat') }}">VentureBeat</a></li>
    </ul>
  </div>
{% endblock %}